# Evolution API v2 Environment Configuration
SERVER_PORT=7860
SERVER_URL=https://myarenaosx-openwa.hf.space

# Security & Authentication
AUTHENTICATION_TYPE=apikey
AUTHENTICATION_API_KEY=c025199d816db2613ca48c1efaef8e61b69aa155a26067e9747d98fccf31d2b7
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true

# Database Configuration (local SQLite or Postgres)
DATABASE_PROVIDER=local
DATABASE_CONNECTION_URI=
DATABASE_CLIENT_NAME=evolution_db
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true

# Webhook Global Settings
WEBHOOK_GLOBAL_URL=
WEBHOOK_GLOBAL_ENABLED=false
WEBHOOK_EVENTS_APPLICATION_STARTUP=false
WEBHOOK_EVENTS_QRCODE_UPDATED=true
WEBHOOK_EVENTS_MESSAGES_SET=true
WEBHOOK_EVENTS_MESSAGES_UPSERT=true
WEBHOOK_EVENTS_MESSAGES_UPDATE=true
WEBHOOK_EVENTS_SEND_MESSAGE=true

# Logs
LOG_LEVEL=INFO
LOG_COLOR=true
LOG_BAILEYS=error
